:root {
    --accent: #d86ccb;
    --accent-ligth: #fccbf3;
    --pure-white: #fff;
    --text-color: blueviolet;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    background-color: #f5e7e7

}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    /*border: 1px solid rgb(7, 155, 7);*/
}

.section {
    padding: 50px 0;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
}



.header {
    background-color: var(--accent);
}

.header a {
    color: var(--pure-white);
    text-decoration: none;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
    align-items: center;
    min-height: 52px;
        
}

.header-logo {
    width: 20%;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
}

.header-logo:hover {
    color: rgb(236, 240, 23);
    font-size: 22px;
}

.header-menu {
    width: 78%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;

}


.header-menu-link {
    padding: 15px 15px;
    text-transform: uppercase;
    transition: background-color 0.4s;
}


.header-menu-link:hover {
    background-color: var(--accent-ligth);
    color: blueviolet;
    font-weight: 700;
}

.intro {
    padding: 4em 0;
}

.intro-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



.intro-rigth {
    width: 60%;
    background-color: #ffc107;
    padding: 20px;
    border-radius: 0 50px 0 50px;
    
}

.intro-left {
    width: 25%; 
    
}

.intro-img {
    width: 250px;
    height: 250px;
    border-radius: 50px 0 50px 0;
}
.intro-rigth h1,
.intro-rigth h3 {
    margin: 0 0 10px;
    text-transform: uppercase;
}

.first-last-name {
    font-size: 30px;
}



.contacts {
    margin-bottom: 60px;
}



.contacts ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts li {
    text-align: center;
    font-size: 18px;
    background-color: #fccbf3;
    padding: 0 18px;
    border-radius: 10px;
    transition: background-color 0.4s;
}

.contacts li:hover {
    background-color: #ffc107;
    color: #fff;
}

.skills {
    background-color: var(--accent);
    color: var(--pure-white);
}

.skills ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills li {
    padding: 10px 15px;
    background-color: var(--accent-ligth);
    color: var(--text-color);
    border-radius: 4px;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    transition: background-color 0.5s;
  }

.skills li:hover {
    background-color: var(--accent);
    color: var(--pure-white);
}

.skills h4 {
    margin-bottom: 0;
}
.code-example {
    text-align: center;
}

.code-example pre {
    text-align: left;
    width: 55%;
    margin: 0 auto;
    background-color: #ffc107;
    color: var(--pure-white);
    font-size: 1.4em;
    font-weight: 300;
    border-radius: 10px;
}
.footer {
    text-align: center;
}

.education{
    background-color: var(--accent);
    color: var(--pure-white);
    font-size: 18px;
}
.education ul {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    list-style: none;
}

.education li {
    padding-bottom: 20px;
    line-height: 25px;
    background-color: var(--accent-ligth);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: var(--text-color);
    font-weight: 800;   
}

.languages ul {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.languages li {
    text-align: center;
}

.footer {
    font-weight: 700;
}